[submodule "deps/spetabaru"]
	path = deps/spetabaru
	url = https://gitlab.inria.fr/bramas/spetabaru.git
	branch = master
[submodule "deps/inastemp"]
	path = deps/inastemp
	url = https://gitlab.inria.fr/bramas/inastemp.git
	branch = master
